*.DS_Store
keycloak/security/tls/ca_keycloak.cer
keycloak/security/tls/ca_keycloak.crt
keycloak/security/tls/ca_keycloak.jks
keycloak/security/tls/ca_keycloak.pem
keycloak/security/tls/keycloak.cer
keycloak/security/tls/keycloak.crt
keycloak/security/tls/keycloak.csr
keycloak/security/tls/server.keystore
server/windfire-security-server/
server/*/__pycache__/
server/__pycache__/
server/.env
server/app_rotating.log
server/windfire_security_server.log
server/tls/windfire-security-cert.pem
server/tls/windfire-security-key.pem
server/windfire-security-server.log*
test/windfire-security-test/
test/*/__pycache__/
test/__pycache__/